* > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
    --color-blue: #0080ff;
    --color-pink: #E5609C;
    --color-pink-transparent: rgba(229, 96, 156, .2);
    --color-black: #1D2424;
    --color-white: #FFFFFF;
    --color-background-light-grey: #f6f5f0;

    --padding: 20px;
    --padding-large: 40px;
    --padding-footer: 75px;

    --border-radius-small: 8px;

    --height-header: 110px;
    --height-header-open: 500px;
    
    --width-mobile: 100%;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: calc( 1.2 * var(--height-header));
}

body {
    background: var(--color-background-light-grey);
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-black);
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-blue);    
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-blue);
}

p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-black);
    text-align: justify;
}

a {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-pink);
    text-decoration: none;
    cursor: pointer;
}

.bi {
    margin-right: var(--padding);
}

.container {
    width: 100%;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


header {
    width: 100%;
    height: var(--height-header);
    padding: var(--padding) var(--padding-large);
    background-color: var(--color-white);
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    z-index: 10;
    position: fixed;
    transition: max-height 2000ms;
}


header nav {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: var(--padding-large);
    list-style: none;
}







#hamburger {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
}

#hamburger > div {
    min-width: 100%;
    min-height: 5px;
    background-color: var(--color-pink);
    border-radius: 5px;
    position: absolute;
    transition: all 200ms;
}

#first-bar {
    top: 0;
}
#second-bar {
    top: 50%;
    transform: translateY(-50%);
}
#third-bar {
    bottom: 0;
}

#hamburger.active #first-bar {
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
}
#hamburger.active #second-bar {
    background-color: transparent;
}
#hamburger.active #third-bar {
    bottom: 50%;
    transform: translateY(50%) rotateZ(-45deg) ;
}


#logo-alexandre {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-blue);
    cursor: pointer;
    transition: color .3s, transform 0.5s;
}
#logo-alexandre:hover {
    color: var(--color-pink);
    font-style: italic;   
    transform: translateX(10px);
}

.cta-important {
    padding: 10px 15px;
    background-color: var(--color-pink);
    border: 2px solid var(--color-pink);
    border-radius: 20px;
    color: var(--color-white);
    transition: background-color 200ms, color 200ms;
}
.cta-important:hover {
    background-color: transparent;
    color: var(--color-pink);
}

.content-wrapper {
    padding: var(--padding) var(--padding-large);
    padding-top: var(--height-header);
    margin-bottom: var(--padding-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-large);
    position: relative;
}
.content-wrapper > *:first-child {
    margin-top: var(--padding-large);
}

#blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(1px);
    background-color: rgba(125, 125, 125, .25);
    display: none;
}

#blur.active {
    display: block;
}


#projets-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-large);
    position: relative;
}

#projets-wrapper > span {
    position: absolute;
    transform: translateY(calc( -1.2 * var(--height-header) ));
}

#timeline {
    position: absolute;
    bottom: 0;
    width: 3px;
    height: calc(100% - 300px);
    background-color: var(--color-pink);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


.projet-element {
    width: 70%;
    max-width: 800px;
    padding: var(--padding);
    display: flex;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    overflow: hidden;
    transition: box-shadow 200ms;
}
.projet-element:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projet-element:hover .image_projet {
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    transform: translateX(+15px) rotate(0deg) scale(1.05);
}

.vignette_projet {
    width: 200px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.image_projet {
    width: 100%;
    border-radius: 30px;
    transform: rotate(-4deg);
    transition: transform 200ms, box-shadow 200ms;
}


.text_projet {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    vertical-align: top;   
}

.légende_projet {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #A0A4A8;
    font-weight: 400;
}



.télecharger_projet {
    padding-left: 15px;
}

.langage_container {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.langage_logo {
    height: 30px;
}


.date-indicator {
    min-width: 85px;
    align-self: start;
    text-align: center;
    width: fit-content;
    background-color: var(--color-blue);
    padding: 10px 20px;
    border-radius: var(--border-radius-small);
    position: sticky;
    top: 150px;
    color: white;
}







.social-media-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
}

.card_Réseaux_sociaux {
    width: 100%;
    max-height: 80%;
    margin: 0px 20px;
    padding: 25px 20px;
}

.card_Réseaux_sociaux img {
    height: 70px;
    border-radius: 10px;
    transition: transform 400ms;
}

.card_Réseaux_sociaux:hover img {
    transform: translateY(-10px);
}



@media (max-width: 840px) {
    :root {
        --padding: 20px;
        --padding-large: 40px;
        --padding-footer: 75px;
    }
    p {
        text-align: left;
    }
    header {

        justify-content: center;
    }
    header nav {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #logo-alexandre {
        text-align: center;
    }
    header nav ul {
        display: none;
        flex-direction: column;
    }
    header nav ul li {
        text-align: center;
    }
    #hamburger {
        display: block;
    }

    header.open {
        height: fit-content;
    }
    header.open nav {
        justify-content: flex-start;
        gap: var(--padding-large);
    }

    header.open nav ul {
        display: flex;
        gap: var(--padding);
    }

    header.open nav ul li {
        display: flex;
        align-items: center;
    }







    .projet-element {
        width: var(--width-mobile);
    }
    .image_projet {
        box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
        transform: translateX(+15px) rotate(0deg) scale(1.05);
    }
    .date-indicator {
        align-self: center;
        background-color: var(--color-pink);
    }
}
